@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap');

body {
  color: aliceblue;
  font-family: Open Sans;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url(../img/gardient1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#survey {
  text-align: center;
}

header {
  color: rgb(255, 255, 255);
}

#title {
  color: rgba(255, 0, 191, 0.89);
  font-family: Shadows Into Light;
  font-size: 2cm;
}

#description {
  color: rgba(255, 0, 221, 0.705);
  font-family: Shadows Into Light;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 0.8cm;
}

#survey-id {
  background-color: rgba(139, 0, 253, 0.37);
  padding: 25px;
  margin-right: 21%;
  margin-left: 21%;
  border-radius: 2rem;
}

@media (max-width: 600px) {
  #survey-id {
    margin-right: 2%;
    margin-left: 2%;
  }
}

label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

#name, #email, #number, textarea, #dropdown {
  display: block;
  width: 100%;
  height: 2rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 0.5rem;
}

textarea {
  height: 5rem;
}

#survey-id p {
  text-align: left;
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.2rem;
  min-width: 1.2rem;
}

button {
  border: none;
}


#submit {
  display: block;
  width: 100%;
  padding: 0.7rem;
  background: rgba(164, 25, 245, 0.788);
  color: white;
  cursor: pointer;
  border-radius: 2rem;
  font-size: 1.2rem;
}
